@import "../../utils/component";

.menu {
  background-color: $bgColor1;
  min-height: 100%;
  color: $txtColor1 !important;
  .homeLink {
    &:hover {
      color: $itemColor4;
    }
  }
  .studentLink {
    &:hover {
      color: $itemColor1;
    }
  }
  .tuitionLink {
    &:hover {
      color: $itemColor2;
    }
  }
  .classroomLink {
    &:hover {
      color: $itemColor3;
    }
  }
  // .menuButton {
  //   box-sizing: unset;
  //   border: none;
  //   box-shadow: none;
  //   .navbar-toggler-icon {
  //     background-color: $txtColor1;
  //     border: none;
  //   }
  //   &:focus {
  //     outline: none;
  //     box-shadow: none;
  //   }
  // }
}
