@import "../../utils/component";

.studentListContainer {
  .studentTable {
    border: $itemColor1;
    thead {
      background-color: $itemColor1;
      color: $txtColor1;
    }
    // tbody > tr:nth-child(2n) > td,
    // tbody > tr:nth-child(2n) > th {
    //     background-color: $itemColor1;
    //   }
  }
}
