@import "~bootstrap/scss/bootstrap";

/* Color Palette */
$bgColor1: #282a38;
$bgColor2: #e1e1e7;

$itemColor1: #fc4349;
$itemColor2: #44aafe;
$itemColor3: #98d881;
$itemColor4: #f3d84d;
$txtColor1: #fafbfd;
