@import "~bootstrap/scss/bootstrap";

/* Color Palette */
$bgColor1: #282a38;
$bgColor2: #f0f0f4;

$itemColor1: #fc4349;
$itemColorLight1:#fbdbdd;
$itemColor2: #44aafe;
$itemColorLight2:#cce5f7;
$itemColor3: #98d881;
$itemColorLight3:#bed8b4;
$itemColor4: #f3d84d;
$itemColorLight4:#f1e39d;
$txtColor1: #ffffff;
