@import "../../utils/component";

.modal-content {
  border: none;
  .studentModalHeader {
    background-color: $itemColor1;
    color: $txtColor1;
    .btn-close {
      background-color: $itemColor1;
      color: $txtColor1;
    }
  }
  .studentModalBody {
    .photo {
      display: block;
      margin: auto;
      margin-bottom: 1rem;
    }
    .tileCol {
      font-weight: bold;
    }
  }
  .studentModalFooter {
    .closeButton {
      background-color: $itemColor1;
      border: none;
    }
  }
}
