@import "../../utils/component";

.wrapper {
  min-height: 100vh;
  width: 100%;
  font-family: "Cuprum", sans-serif;
  a {
    color: $txtColor1;
  }
  Button {
    box-sizing: unset;
    border: none;
    box-shadow: none;
    .navbar-toggler-icon {
      background-color: $txtColor1;
      border: none;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
