@import "../../utils/component";

.menuCardContainer {
  // @include media-breakpoint-up(lg) {
  //   display: flex;
  //   align-items: flex-start;
  //   flex-direction: row;
  //   justify-content: center;
  //}
  min-height: 100vh;
  padding-top: 1rem;
  background-color: $bgColor2;
  .menuItem {
    margin-bottom: 0.5rem;
    align-items: center;
    color: $txtColor1;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    .itemIcon {
      font-size: 2rem;
      margin: 0.5rem;
    }
    &.student {
      background-color: $itemColor1;
      &:hover {
        box-shadow: #f48f92 0px 10px 20px;
      }
    }
    &.tuition {
      background-color: $itemColor2;
      &:hover {
        box-shadow: #7fc0f6 0px 10px 20px;
      }
    }
    &.classroom {
      background-color: $itemColor3;
      &:hover {
        box-shadow: #afd7a1 0px 10px 20px;
      }
    }
  }
}
